@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background: rgb(10, 10, 10);
    background-size: 600% 600%;
    animation: fluid 5s ease infinite;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 100;
    text-align: center;
    margin-top: 10px;

}

header nav a {
    color: #eee;
    font-size: small;
    margin: 0 30px;
    text-decoration: none;
    font-family: michroma;
    transition: .7s;
}


a:hover {
    color: rgb(255, 0, 221);

}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10rem);
    overflow: hidden;
    z-index: 1;
}

#layer1 {
    position: fixed;
    width: 200px;
    height: 200px;
    background: linear-gradient(rgb(255, 0, 221), blue);
    border-radius: 50%;
    box-shadow: rgb(255, 0, 221) 5px 5px 50px;
    animation: ambient-lighting1 ease 10s infinite;
    pointer-events: none;
    z-index: 1;
}

#layer1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 10px;
    height: 10px;
    z-index: 1000;
    background: rgba(0, 0, 0, .2);
    background: white;

    border-radius: 50%;
    box-shadow: rgb(255, 0, 221) 5px 5px 50px;


}

#layer2 {
    position: fixed;
    right: 0;
    top: 50%;
    width: 200px;
    height: 200px;
    background: linear-gradient(rgb(255, 0, 221), blue);
    border-radius: 50%;
    box-shadow: rgb(255, 0, 221) 5px 5px 50px;
    animation: ambient-lighting2 ease 10s infinite;
    will-change: width, height, top, right;
    pointer-events: none;
    z-index: 1;
}

.greeting{
    position: relative;
    font-size: 50px;
    font-family: michroma;
    color: rgb(255, 0, 221);
    font-weight: 700;
}

.chris {
    font-size: 150px;
    font-family: michroma;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

@media (max-width: 671px) {
    .chris {
        font-size: 100px;
    }
}

#layer2::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    width: 10px;
    height: 10px;
    z-index: 10000;
    background: rgba(0, 0, 0, .2);
    background: white;
    border-radius: 50%;
    box-shadow: rgb(255, 0, 221) 5px 5px 50px;

}

@keyframes ambient-lighting1 {
    0% {
        top: 0%;
        left: 0%;
        width: calc(0.2 * 200px);
        height: calc(0.2 * 200px);
    }

    25% {
        top: 40%;
        left: 40%;
        width: calc(1.4 * 200px);
        height: calc(1.4 * 200px);

    }


    55% {
        height: calc(1.4 * 200px);
        width: calc(1.4 * 200px);
    }

    100% {

        top: 10%;
        left: 0%;
        width: calc(0.2 * 200px);
        height: calc(0.2 * 200px);

    }
}

@keyframes ambient-lighting2 {
    0% {
        top: 50%;
        right: 0%;
        width: calc(0.2 * 200px);
        height: calc(0.2 * 200px);

    }

    50% {
        top: 10%;
        right: 50%;

    }

    55% {
        height: calc(1.4 * 200px);
        width: calc(1.4 * 200px);
    }

    100% {

        top: 50%;
        right: 0%;
        height: calc(0.2 * 200px);
        width: calc(0.2 * 200px);

    }
}